h1{
    
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
     text-transform: lowercase;
    /* margin-right: 500px; */
    background-color: aquamarine;
    border-radius: 25px; 
    
}
div{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
#start{
    margin-top: 15px;
    height: 40px;
    width: 100px;
    background-color: greenyellow;
    border-radius: 25px; 
    border: none;
    cursor: pointer;
}
#stop{
    margin-top: 15px;
    height: 40px;
    width: 100px;
    background-color: red;
    border-radius: 25px; 
    border: none;
    cursor: pointer;
}
